@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bungee Tint", sans-serif;
}

body {
    background: url("imagens/pngtree-solar-system-with-planets-and-the-sun-picture-image_3472491.jpg") center no-repeat;
    background-size: cover;
    height: 100vh;

    display: grid;
    place-items: center;
}

#date {
    
   font-size: 3rem;
     }

.relogio {
    background-color: #e6d6d61a;
    width: 90%;
    padding: 3% 0;
    border-radius: 5px;
    backdrop-filter: blur(8px);
    border: 2px solid #d1ada1;

    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.relogio div {
    background-color: #1900ff;
    width: 80%;
    margin: 2%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    letter-spacing: 3px;
}

.relogio span {
    font-size: 4rem;
}

.relogio div span.tempo {
    font-size: 1rem;
}

@media (max-width: 500px) {
    .relogio  {
        height: auto;
        width: 60%;
        flex-direction: column;
        
    }

   
    }
    
